doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet" href="../../css/narmalize.css")
        link(rel="stylesheet" href="../../css/style.css")
    body 
        header.header 
            .header_loge 
                .header_link 
                    img(src="../../image/Vector (12).png" alt="")
                    span.span 
                    h2 Alison Kim
                .header_link 
                img(src="../../image/Vector (13).png", alt="")
                img(src="../../image/Vector (14).png", alt="")
            hr
        main.main 
            .main_loge 
                p 1:31 PM
                img.main_img(src="../../image/Bubble (2).png", alt="")
            .main_loge 
                img.main_img2(src="../../image/Bubble.png", alt="")
                p 1:32 PM
            .main_loge 
                p 1:35 PM
                img.main_img(src="../../image/Bubble (2).png", alt="")